html, body{
    height: 100%;
}

body{
	margin: 0;
	font-family: 'Quicksand', sans-serif !important;
	overflow-x: hidden;
}
.intro{
    height: 93%;
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
}

.swiper-container{
    height: 93%;
    position: absolute;
    z-index: -1;
    width: 100%;
}
.firstSlide{
    background: url("../../../../images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.secondSlide{
	background: url("../../../../images/bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome{
    display: table-cell;
    vertical-align: middle;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

.welcome h4{
	font-style: italic;
	font-family: "Cardo","Times New Roman",Times,serif;
}

.welcome p{
    font-size: 60px;
}

.circle-me{
	max-width: 100%;
    border-radius: 50%;
}

.circle-about{
	text-align: center;
}
.about-me-section{
    padding: 85px 0;
}

.content-title{
    margin-bottom: 50px;
    position: relative;
    font-size: 45px;
}

.content-title:before{
	content:"";
	border: 1px solid;
	height: 1px;
	width: 120px;
	position: absolute;
    top: 70px;
}

.lead-text{
    font-size: 30px;
}

.content-text{
    line-height: 27px;
}

.skills-section{
    position: relative;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.39);
    padding: 10px 0;
}

.skills-background{
    background-image: url(../../../../images/skills-bg.jpg);
    background-repeat: no-repeat;
    position: absolute;
    filter: blur(4px);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
	top: 0;
}

.overlay{
	height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.39);
    width: 100%;
	top: 0;
}

.skills-img{
    position: absolute;
    height: 65%;
    top: 0px;
    left: 0;
    bottom: 25px;
    right: 0;
    margin: auto;
	transition: all 0.3s;
}

.progress{
	background-color: #cacaca;
    height: 5px;
}

.progress-bar{
    width: 83%;
    background-color: rgba(0, 0, 0, 0.75);
}

.skills-section .col-md-4{
    margin-bottom: 15px;
}

.projects-section{
     padding: 50px 0;
}

.proj-img{
	width: 100%;
	transition: all 0.3s;
}

.projects-section .col-md-4{
	margin: 20px 0;
	overflow: hidden;
}

.proj-img-container{
    overflow: hidden;
}

.proj-img:hover{
	cursor: pointer;
	transform: scale(1.3);
}

.myFooter{
    padding: 20px;
    color:white;
    position: relative;
}

.myFooter input, textarea.form-control{
    border-radius: 0;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
    resize: vertical;
}
.submit-btn{
    border-radius: 0;
    color: black;
    background-color: white;
}

.submit-btn:hover{;
    color: white;
    background-color: black;
}
.blur-bg{
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #000000 40%, #000000 40%, #212121 100%, #212121 100%, #212121 100%, #262626 100%, #000000 100%, #000000 100%, #000000 100%, #262626 100%, #262626 100%, #262626 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%,#000000 40%,#000000 40%,#212121 100%,#212121 100%,#212121 100%,#262626 100%,#000000 100%,#000000 100%,#000000 100%,#262626 100%,#262626 100%,#262626 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0,#000000 24%,#212121 75%,#000000 110%,#000000 100%,#000000 100%,#262626 100%,#262626 100%,#262626 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.footer-text{
    font-size: 20px;
}

.details{
	color: white;
}

.my-nav{
    background-color: #111;
    border: 0;
    border-radius: 0;
	margin: 0;
}

.my-nav:not(.navFix){
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: white;
    color: black;
}

.navbar-default .navbar-nav>li>a{
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:hover{
    background-color: white;
    border-color: black;
}

.navbar-default .navbar-toggle:hover  .icon-bar, .navbar-default .navbar-toggle:focus  .icon-bar{
	background-color: black;
}

.navbar-default .navbar-toggle:focus{
    background-color: black;
    border-color: white;
}

.navbar-default .navbar-toggle:focus  .icon-bar{
    background-color: white;
}

.navbar-nav{
	margin: 0;
}

.navbar-default .navbar-collapse{
	padding: 0;
	text-align: center
}
.navbar-default .navbar-nav>li>a:hover{
	color: black;
    background-color: white;
}

.navbar-default .navbar-nav>li>a:focus{
	color: white;
	background-color: transparent;
}
.navbar-default .navbar-brand:hover{
	color: white;
	font-weight: bold;
}

.workexp-section{
    background-color: #2d3e50;
    color: white;
    padding: 50px 10px;
}


#htmlCircle, #cssCircle, #jsCircle, #bootstrapCircle, #jqueryCircle{
	position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #eeeeee;
    margin: auto;
}

.progressbar-text{
	top: 80% !important;
}
.navFix{
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
}
.skill-content{
    position: absolute;
    background: #97b4c5;
    height: 86%;
    width: 86%;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
	text-align: center;
}

.skills-img:hover{
	transform: scale(1.1);
}

.download-btn{
	background-color: rgba(0,0,0,0.9);
    padding: 10px;
    border: none;
	color:white;
}

.download-btn:hover, .download-btn:focus{
	text-decoration:none;
	color: black;
	background-color: white;
	border: 1px solid black;
}

.btn-container{
    margin: 20px 20px 20px 0;
}

.btn-up{
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 9999;
    cursor: pointer;
    background-image: url(../../../../images/top.png);
    background-size: cover;
}

.footer-tiles{
    color: white;
    list-style: none;
    text-align: center;
    padding: 0;
}

.footer-tiles li{
    display: inline-block;
    font-size: 65px;
    padding: 27px;
    margin-bottom: 5px;
}
.fb{
    width: 25%;
    background-color: #344d94;
    border: 1px solid #344d94;
}
.insta{
    width: 25%;
    background: radial-gradient(circle at 30% 170%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#1c46bf 109%);
    border: 1px solid transparent;
}
.gmail{
    width: 40%;
    background-color: #ca1212;
    border: 1px solid #ca1212;
}

.github{
    background-color: #ce5319;
    border: 1px solid #ce5319;
}

.twitter{
    background-color: #127eca;
    border: 1px solid #127eca;
}
.github, .twitter{
    width: 45%;
}

.fb:hover, .insta:hover, .gmail:hover, .github:hover, .twitter:hover{
    border:1px solid white;
    cursor: pointer;
}
.modal-header .close{
    position: absolute;
    z-index: 99999;
    right: -9px;
    top: -8px;
    font-size: 18px;
    background: white;
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 1;
}

.modal-header .close:hover{
	color: white;
	background-color: black;
}

.modal-body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    overflow: auto;
    height: 246px;
}

.navbar-default .navbar-brand:focus{
    color: white;
}

.insta-circle:hover{
	color: #6060ab;
	cursor:pointer;
}

.gmail-circle:hover{
	color: #028a1f;
	cursor:pointer;
}
.fb-circle:before, .insta-circle:before, .gmail-circle:before{
	line-height: 65px;
}

.copyright{
    margin-top: 27px;
}

.error{
    border: 1px solid #e63939;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 11px;
    background-color: #9a2b2b;
}

.footer-tiles a{
    color: white;
}

.footer-bottom{
    border-top: 1px solid white;
    margin-top: 20px;
}
@media screen and (max-width: 480px){
	.about-me-section{
        padding: 50px 0;
	}
    .modal-dialog{
        margin-top: 75px;
    }

    .footer-tiles li{
        display: block;
        width: 75%;
        margin: 0 auto 10px;
    }
}